<div class="w-full h-full flex flex-col items-center">
    <div class="w-fit min-w-[800px] h-fit flex flex-col">
        <h2 class="m-1 self-start">Create New Quack</h2>
        {{ form_start(form , {'attr': {'class': 'flex flex-col w-1/4'}}) }}
        {{ form_label(form.contend, 'Message: ', {'attr': {'class':'block text-gray-700 text-sm font-bold mb-2'}}) }}
        {{ form_widget(form.contend, {'atrr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
        <button class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">{{ button_label|default('Publish Quack') }}</button>
        {{ form_end(form) }}
    </div>

</div>
