{% extends 'base.html.twig' %}

{% block body %}
    <div class="w-full h-full m-auto mt-5 flex flex-col justify-self-center">
        <div class="h-fit w-fit bg-white m-1">
            <a href="{{ path('quack_create') }}" class="p-8">New</a>
        </div>

        {# QUACK #}
        {% for quack in quacks_show %}
            <div class="max-w-[800px] w-4/5 h-fit mr-auto ml-auto flex flex-col flex-wrap bg-white mt-5 rounded bg-fuchsia-200">
                <div class="h-fit w-full flex items-center m-3 ">
                    <div class=" h-fit w-fit rounded-lg p-1.5 border border-gray-400">
                        <img height="50px" width="50px"
                             src="{{ quack.getDuck.profileImg }}">
                    </div>
                    <h2 class="items-start justify-self-start p-2 text-red-900"><a
                                href="{{ path('app_profile_show', {'duck_id': quack.duck.id}) }}">{{ quack.getDuck().getDuckName() }}</a>
                    </h2>
                    <p class=" block">{{ quack.getCreatedAt().format('d/m/Y') }}</p>
                    {% if app.user != null %}
                        {% if app.user.id == quack.duck.id %}
                            {{ include('quack/_delete_form.html.twig') }}
                            <a href="{{ path('quack_edit', {'quack': quack.id}) }}">Edit</a>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="w-full h-fit border border-t-gray-400  p-2 bg-white">
                    <h2>Message: </h2>
                    <p class="mt-2">{{ quack.contend }}</p>
                </div>
                <div class="min-h-[8vh] w-full flex flex-col flex-wrap bg-gray-200">
                    <div class="h-fit w-full flex justify-between">
                        <h3 class="mt-2 p-1">Comments:</h3>
                        <div class="h-fit w-fit p-2 flex items-center">
                            {% if app.user != null %}
                                <a class="h-fit w-fit block p-2 m-1 bg-gray-300 rounded"
                                   href="{{ path('app_comment_new', {'quack_id': quack.getId()}) }}">Add Com</a>
                            {% endif %}
                        </div>
                    </div>
                    {% for comment in quack.getCommentsId() %}
                        <div class="h-fit w-full flex flex-col justify-center">
                            <p class="text-indigo-900">{{ comment.getAuthor() }}</p>
                            <p class=" p-2 bg-white">{{ comment.getContent() }}</p>
                            {% if app.user != null %}
                                {% if app.user.id == comment.getDuck().getId() %}
                                    {{ include('comment/_options.html.twig') }}
                                {% elseif app.user.id == comment.getQuackId().getDuck().getId() %}
                                    {% include('comment/_delete_form.html.twig') %}
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}