{% extends 'base.html.twig' %}

{% block title %}Quack{% endblock %}

{% block body %}
    <h1>Quack</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quack.id }}</td>
            </tr>
            <tr>
                <th>Contend</th>
                <td>{{ quack.contend }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ quack.createdAt ? quack.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_test_index') }}">back to list</a>

    <a href="{{ path('app_test_edit', {'id': quack.id}) }}">edit</a>

    {{ include('test/_delete_form.html.twig') }}
{% endblock %}
